<h1>My tasks</h1>
<ul>
<% @tasks.each do |task| %>
<li>
    <input type="checkbox" id="completed" name="completed"
        <%= task[:completed] ? "checked" : "" %>>
    <%= link_to task[:title], task_path(task) %></li>
<% end %>
</ul>

<%= link_to "Create new task", tasks_new_path %>
